[flake8]

statistics = True
show-source = True

htmldir = htmllint
htmltitle = Quendor Lint Report

max-line-length = 90
inline-quotes = double
no-accept-encodings = True
strictness = short
docstring-convention = google

per-file-ignores =
    # Missing docstring in public package
    */__init__.py:D104

    # Missing docstring in public module
    */__version__.py:D100

ignore =
    # Missing type annotation for self in method
    ANN101

    # Missing docstring in __init__
    D107

    # No blank lines allowed after function docstring.
    D202

    # Multi-line docstring summary should start at the first line.
    D212

    # Line break before binary operator.
    W503
