[flake8]

statistics = True
show-source = True

htmldir = htmllint
htmltitle = Quendor Lint Report

max-line-length = 90
inline-quotes = double
no-accept-encodings = True
strictness = short
docstring-convention = google

per-file-ignores =
    # Missing docstring in public package
    */__init__.py:D104

    # Missing docstring in public module
    */__version__.py:D100

    # '.format' used
    src/chippy8/errors.py:FS002

    # '.format' used
    # Multi-line container not broken after opening character
    src/chippy8/interpreter.py:FS002,JS101

ignore =
    # Missing type annotation for self in method
    ANN101

    # Missing docstring in __init__
    D107

    # No blank lines allowed after function docstring.
    D202

    # Multi-line docstring summary should start at the first line.
    D212

    # Whitespace before ':'
    E203

    # Format string does contain unindexed parameters.
    P101

    # Line break before binary operator.
    W503
